In [72]:
import pandas as pd
import datetime as dt
tradebook_df = pd.read_csv('Turtle_SENSEX_1xLev.csv')
df = pd.read_csv("../data/s_spot_turtle.csv")
df["datetime"] = pd.to_datetime(df["time"])
df = df[df["datetime"].dt.year >= 2018]

INDEX = 'MIDCPNIFTY'
PORTFOLIO_VALUE = 250000 # 1 Cr.
# RPT_PCT = 0.01 # 1% RPT
SLIPPAGE_ = 0.0001
# LEVERAGE_ = 5

In [74]:
import pandas as pd

def calculate_day_by_day_pnl(df, tradebook_df):
    pnl_records = []
    
    for _, trade in tradebook_df.iterrows():
        trade_no = trade['Trade No.']
        start_date = pd.to_datetime(trade['Entry_Date'])
        end_date = pd.to_datetime(trade['Exit_Date'])
        direction = trade['Trade_Type']  # 'long' or 'short'
        entry_price = trade['Entry_Price']
        qty = trade['Qty']
        total_slippage = trade['Slippage']
        
        # Filter the spot data for the trade duration
        trade_data = df[(df['datetime'] >= start_date) & (df['datetime'] <= end_date)].copy()
        
        # Aggregate data into daily OHLC
        trade_data['date'] = trade_data['datetime'].dt.date
        daily_ohlc = trade_data.groupby('date').agg(
            open_price=('open', 'first'),
            high_price=('high', 'max'),
            low_price=('low', 'min'),
            close_price=('close', 'last')
        ).reset_index()

        num_days = len(daily_ohlc)
        slippage_per_day = total_slippage / num_days if num_days > 0 else 0
        
        # Calculate day-by-day PnL
        for i, row in daily_ohlc.iterrows():
            date = row['date']
            exit_price = row['close_price']
            if i == 0:
                day_entry_price = entry_price
            else:
                day_entry_price = daily_ohlc.iloc[i - 1]['close_price']
            
            # if direction == 'Long':
            pnl = exit_price - day_entry_price
            # elif direction == 'short':
            #     pnl = day_entry_price - exit_price
            
            pnl_records.append({
                'Trade No.': trade_no,
                'Portfolio': PORTFOLIO_VALUE,
                'Date': date,
                'Entry Price': day_entry_price,
                'Exit Price': exit_price,
                'Points': pnl,
                'Qty': qty,
                'Slippage': slippage_per_day,
                'PnL': ((pnl - slippage_per_day) * qty),
                'ROI%': ((pnl - slippage_per_day) * qty) * 100 / PORTFOLIO_VALUE,
                'Index': INDEX,
            })
    
    # Convert the records into a DataFrame
    pnl_df = pd.DataFrame(pnl_records)
    return pnl_df

In [75]:
tb2 = calculate_day_by_day_pnl(df, tradebook_df)

In [76]:
tb2

,Trade No.,Portfolio,Date,Entry Price,Exit Price,Points,Qty,Slippage,PnL,ROI%,Index
0,0,250000,2018-01-04,33935.60,33915.00,-20.60,23.977834,6.785060,-656.634418,-0.262654,MIDCPNIFTY
1,1,250000,2018-01-04,33969.66,33980.91,11.25,20.947575,0.976155,215.212150,0.086085,MIDCPNIFTY
2,1,250000,2018-01-05,33980.91,34172.14,191.23,20.947575,0.976155,3985.356735,1.594143,MIDCPNIFTY
3,1,250000,2018-01-08,34172.14,34331.51,159.37,20.947575,0.976155,3317.966989,1.327187,MIDCPNIFTY
4,1,250000,2018-01-09,34331.51,34431.05,99.54,20.947575,0.976155,2064.673564,0.825869,MIDCPNIFTY
...,...,...,...,...,...,...,...,...,...,...,...
1309,366,250000,2024-12-27,79014.14,78844.46,-169.68,4.919682,15.785860,-912.432987,-0.364973,MIDCPNIFTY
1310,367,250000,2024-12-30,78969.56,78713.74,-255.82,6.746856,15.756858,-1832.289942,-0.732916,MIDCPNIFTY
1311,368,250000,2025-01-01,78542.75,78440.37,-102.38,5.816659,15.698312,-686.821266,-0.274729,MIDCPNIFTY
1312,369,250000,2025-01-01,78566.52,78442.74,-123.78,5.052596,15.700926,-704.740720,-0.281896,MIDCPNIFTY
1313,370,250000,2025-01-01,78513.26,78495.45,-17.81,5.551964,15.700871,-186.051147,-0.074420,MIDCPNIFTY

In [77]:
# tb2.to_csv('JJPP_bnf_day-wise.csv', index=False)

In [78]:
tb2['Points'].sum()

68307.81000000004

In [79]:
(tradebook_df['PnL']).sum()

68219.54592592598

In [80]:
tb2['ROI%'].sum()

239.45120354069286

In [81]:
tb2.to_csv('sensex-daily-turtle.csv', index=False)