In [1]:
import pandas as pd

df1 = pd.read_csv("finalised/FNF_5LS_final.csv")
df2 = pd.read_csv("finalised/BNF_5LS_final.csv")
df3 = pd.read_csv("finalised/NF_5LS_final.csv")

In [5]:
list_bnf = []
list_nf = []

for i in range(1, len(df2)):
    expiry = df2.iloc[i]['Expiry']
    list_bnf.append(expiry)

for i in range(1, len(df3)):
    expiry = df3.iloc[i]['Expiry']
    list_nf.append(expiry)

list_bnf = list(set(list_bnf))
list_nf = list(set(list_nf))

In [6]:
list_bnf

['2020-06-25',
 '2021-11-11',
 '2019-09-12',
 '2017-07-06',
 '2019-07-04',
 '2020-04-09',
 '2019-11-21',
 '2022-11-10',
 '2020-06-11',
 '2023-02-23',
 '2021-01-21',
 '2022-06-16',
 '2022-09-15',
 '2022-01-27',
 '2019-02-14',
 '2017-03-02',
 '2024-01-10',
 '2019-06-27',
 '2021-02-25',
 '2017-02-09',
 '2018-06-21',
 '2018-11-15',
 '2021-12-02',
 '2023-12-20',
 '2018-01-25',
 '2022-01-20',
 '2017-04-13',
 '2022-06-02',
 '2017-04-20',
 '2022-06-09',
 '2023-08-03',
 '2021-06-10',
 '2018-09-12',
 '2017-08-03',
 '2022-04-07',
 '2020-01-23',
 '2017-07-20',
 '2019-12-26',
 '2018-07-05',
 '2021-11-18',
 '2017-07-27',
 '2017-09-07',
 '2017-01-12',
 '2022-09-29',
 '2020-11-05',
 '2018-09-19',
 '2017-12-21',
 '2021-08-18',
 '2021-12-30',
 '2018-08-09',
 '2019-08-29',
 '2021-07-01',
 '2019-02-21',
 '2017-11-30',
 '2021-09-16',
 '2022-04-21',
 '2018-02-08',
 '2021-04-01',
 '2021-05-12',
 '2017-06-01',
 '2023-10-11',
 '2020-03-05',
 '2019-06-06',
 '2018-08-02',
 '2020-10-29',
 '2020-12-24',
 '2023-03-16',
 '2023-09-28',
 '2021-11-25',
 '2019-04-11',
 '2019-05-02',
 '2020-07-09',
 '2017-09-21',
 '2023-10-18',
 '2021-06-17',
 '2023-04-27',
 '2022-07-28',
 '2022-09-08',
 '2024-02-29',
 '2019-05-30',
 '2020-03-12',
 '2018-03-22',
 '2020-11-12',
 '2021-08-05',
 '2019-01-31',
 '2020-07-02',
 '2018-12-27',
 '2019-02-07',
 '2018-04-26',
 '2021-03-25',
 '2018-04-05',
 '2017-01-25',
 '2022-04-13',
 '2018-03-08',
 '2021-08-26',
 '2021-02-18',
 '2020-11-26',
 '2017-06-15',
 '2020-08-06',
 '2018-05-03',
 '2020-09-10',
 '2023-08-31',
 '2020-02-06',
 '2022-10-27',
 '2023-07-13',
 '2017-02-23',
 '2021-12-09',
 '2024-02-14',
 '2023-06-15',
 '2021-06-24',
 '2018-08-16',
 '2020-12-03',
 '2017-03-23',
 '2022-11-03',
 '2020-12-17',
 '2019-12-12',
 '2018-03-28',
 '2020-04-23',
 '2019-03-28',
 '2021-11-03',
 '2018-02-15',
 '2018-06-07',
 '2021-10-07',
 '2020-08-27',
 '2019-04-18',
 '2023-06-28',
 '2017-11-09',
 '2022-02-24',
 '2019-08-01',
 '2022-03-24',
 '2022-10-13',
 '2019-07-18',
 '2020-01-16',
 '2021-07-22',
 '2017-09-28',
 '2019-11-14',
 '2024-03-13',
 '2017-04-06',
 '2023-11-08',
 '2022-08-04',
 '2023-12-28',
 '2018-08-30',
 '2019-09-05',
 '2017-08-10',
 '2022-01-06',
 '2022-03-10',
 '2020-07-16',
 '2018-12-06',
 '2017-01-19',
 '2017-11-16',
 '2021-06-03',
 '2023-11-01',
 '2020-05-14',
 '2017-03-16',
 '2019-07-25',
 '2017-01-05',
 '2022-01-13',
 '2022-07-14',
 '2019-04-04',
 '2018-03-15',
 '2021-07-29',
 '2021-12-16',
 '2019-10-31',
 '2023-06-22',
 '2023-10-04',
 '2022-12-15',
 '2017-10-26',
 '2023-04-06',
 '2022-11-24',
 '2018-01-18',
 '2020-04-30',
 '2020-12-10',
 '2019-08-22',
 '2020-03-19',
 '2017-11-23',
 '2018-04-12',
 '2022-11-17',
 '2020-08-13',
 '2019-08-14',
 '2017-06-29',
 '2020-02-27',
 '2020-05-21',
 '2017-12-07',
 '2018-09-06',
 '2023-08-24',
 '2019-12-05',
 '2022-02-10',
 '2022-12-29',
 '2021-09-23',
 '2019-01-10',
 '2018-04-19',
 '2020-07-23',
 '2023-09-06',
 '2021-10-14',
 '2024-03-06',
 '2022-03-17',
 '2018-07-19',
 '2020-09-17',
 '2020-09-03',
 '2022-06-30',
 '2021-09-09',
 '2024-01-03',
 '2020-01-30',
 '2019-06-13',
 '2017-07-13',
 '2023-01-05',
 '2022-08-25',
 '2019-03-20',
 '2021-10-28',
 '2019-09-19',
 '2023-03-23',
 '2019-10-10',
 '2023-04-20',
 '2018-11-22',
 '2018-05-17',
 '2022-12-22',
 '2019-07-11',
 '2018-01-04',
 '2022-05-12',
 '2020-01-02',
 '2022-05-26',
 '2020-12-31',
 '2022-05-19',
 '2023-07-27',
 '2017-03-09',
 '2018-08-23',
 '2017-08-17',
 '2018-10-04',
 '2019-01-17',
 '2021-12-23',
 '2020-07-30',
 '2023-01-12',
 '2023-05-18',
 '2021-08-12',
 '2018-12-13',
 '2021-07-15',
 '2017-10-12',
 '2021-09-02',
 '2017-05-04',
 '2018-03-01',
 '2023-09-13',
 '2021-01-07',
 '2021-01-14',
 '2024-02-07',
 '2021-05-06',
 '2019-09-26',
 '2022-05-05',
 '2017-03-30',
 '2023-07-06',
 '2023-04-13',
 '2022-12-01',
 '2023-07-20',
 '2021-04-15',
 '2024-01-25',
 '2019-10-03',
 '2019-03-07',
 '2022-03-31',
 '2022-10-20',
 '2018-05-24',
 '2021-05-20',
 '2021-04-29',
 '2022-03-03',
 '2023-12-06',
 '2023-02-09',
 '2018-02-22',
 '2018-09-27',
 '2019-02-28',
 '2021-04-08',
 '2021-02-11',
 '2024-02-21',
 '2017-02-16',
 '2020-10-15',
 '2021-02-04',
 '2017-12-28',
 '2018-05-10',
 '2023-01-19',
 '2017-06-08',
 '2017-08-24',
 '2021-05-27',
 '2023-03-29',
 '2022-10-06',
 '2020-04-01',
 '2018-10-17',
 '2023-06-08',
 '2017-09-14',
 '2018-11-01',
 '2021-01-28',
 '2023-08-17',
 '2020-01-09',
 '2021-03-18',
 '2017-10-05',
 '2023-11-15',
 '2020-11-19',
 '2018-12-20',
 '2019-11-07',
 '2019-01-03',
 '2020-04-16',
 '2022-02-03',
 '2022-04-28',
 '2018-10-11',
 '2023-05-25',
 '2018-07-12',
 '2022-08-18',
 '2018-06-28',
 '2023-01-25',
 '2023-06-01',
 '2017-05-18',
 '2022-06-23',
 '2020-03-26',
 '2023-03-02',
 '2020-02-20',
 '2020-08-20',
 '2019-03-14',
 '2021-07-08',
 '2022-08-11',
 '2020-09-24',
 '2023-05-11',
 '2019-05-23',
 '2019-05-09',
 '2020-02-13',
 '2019-11-28',
 '2023-03-09',
 '2019-05-16',
 '2019-08-08',
 '2021-10-21',
 '2018-06-14',
 '2022-07-07',
 '2023-11-30',
 '2019-10-24',
 '2017-08-31',
 '2017-02-02',
 '2021-03-04',
 '2019-04-25',
 '2022-02-17',
 '2020-05-28',
 '2020-06-04',
 '2024-01-17',
 '2024-03-20',
 '2022-09-01',
 '2023-02-16',
 '2017-06-22',
 '2023-11-22',
 '2020-06-18',
 '2019-01-24',
 '2020-10-22',
 '2017-05-11',
 '2020-10-01',
 '2019-12-19',
 '2022-07-21',
 '2022-12-08',
 '2018-07-26',
 '2017-04-27',
 '2017-05-25',
 '2023-05-04',
 '2018-01-11',
 '2018-11-29',
 '2023-02-02',
 '2018-02-01',
 '2019-06-20',
 '2023-12-13',
 '2020-05-07',
 '2017-12-14',
 '2023-09-20',
 '2018-05-31',
 '2021-04-22']

In [7]:
list_nf

['2024-02-01',
 '2020-06-25',
 '2023-11-16',
 '2023-12-21',
 '2021-11-11',
 '2019-12-05',
 '2020-03-12',
 '2019-09-12',
 '2021-05-27',
 '2023-12-14',
 '2022-02-10',
 '2022-12-29',
 '2023-03-29',
 '2019-07-04',
 '2021-09-23',
 '2022-10-06',
 '2020-04-01',
 '2021-03-10',
 '2020-11-12',
 '2021-08-05',
 '2023-06-08',
 '2020-04-09',
 '2019-01-31',
 '2020-07-02',
 '2021-01-28',
 '2023-09-07',
 '2019-11-21',
 '2020-07-23',
 '2023-08-17',
 '2018-12-27',
 '2020-01-09',
 '2018-04-26',
 '2020-06-11',
 '2021-03-18',
 '2021-10-14',
 '2021-03-25',
 '2022-11-10',
 '2023-02-23',
 '2023-09-14',
 '2018-10-25',
 '2024-03-28',
 '2020-11-19',
 '2022-04-13',
 '2023-11-02',
 '2021-08-26',
 '2021-02-18',
 '2019-11-07',
 '2024-02-22',
 '2020-11-26',
 '2021-01-21',
 '2022-06-16',
 '2022-09-15',
 '2020-04-16',
 '2020-08-06',
 '2022-01-27',
 '2019-02-14',
 '2020-09-10',
 '2020-10-08',
 '2022-02-03',
 '2022-03-17',
 '2020-09-17',
 '2022-04-28',
 '2020-09-03',
 '2023-09-21',
 '2022-06-30',
 '2021-09-09',
 '2023-11-23',
 '2020-01-30',
 '2023-05-25',
 '2023-08-31',
 '2020-02-06',
 '2022-08-18',
 '2022-10-27',
 '2019-06-13',
 '2023-07-13',
 '2019-06-27',
 '2018-06-28',
 '2023-01-25',
 '2023-06-01',
 '2017-02-23',
 '2021-12-09',
 '2021-02-25',
 '2023-06-15',
 '2023-01-05',
 '2023-10-12',
 '2022-08-25',
 '2021-06-24',
 '2019-03-20',
 '2021-10-28',
 '2019-09-19',
 '2022-06-23',
 '2020-12-03',
 '2023-03-23',
 '2020-03-26',
 '2019-10-10',
 '2022-11-03',
 '2023-03-02',
 '2023-04-20',
 '2020-02-20',
 '2020-12-17',
 '2021-12-02',
 '2022-12-22',
 '2019-07-11',
 '2018-01-25',
 '2020-08-20',
 '2022-05-12',
 '2020-01-02',
 '2022-05-26',
 '2022-01-20',
 '2019-03-14',
 '2020-12-31',
 '2021-09-30',
 '2022-05-19',
 '2022-06-02',
 '2021-07-08',
 '2019-12-12',
 '2022-08-11',
 '2020-09-24',
 '2022-06-09',
 '2019-05-23',
 '2023-05-11',
 '2018-03-28',
 '2019-05-09',
 '2023-08-03',
 '2020-04-23',
 '2019-03-28',
 '2020-02-13',
 '2021-06-10',
 '2021-11-03',
 '2023-07-27',
 '2023-08-10',
 '2024-01-04',
 '2019-11-28',
 '2023-03-09',
 '2021-10-07',
 '2022-04-07',
 '2020-01-23',
 '2020-08-27',
 '2019-12-26',
 '2023-06-28',
 '2021-11-18',
 '2019-08-08',
 '2019-05-16',
 '2021-10-21',
 '2017-07-27',
 '2022-09-22',
 '2022-02-24',
 '2019-08-01',
 '2022-09-29',
 '2020-11-05',
 '2023-12-07',
 '2022-07-07',
 '2021-12-23',
 '2023-11-30',
 '2022-03-24',
 '2022-10-13',
 '2019-07-18',
 '2020-07-30',
 '2019-10-24',
 '2020-01-16',
 '2021-07-22',
 '2023-01-12',
 '2017-08-31',
 '2021-08-18',
 '2019-10-17',
 '2021-12-30',
 '2017-09-28',
 '2019-11-14',
 '2021-03-04',
 '2021-08-12',
 '2023-05-18',
 '2019-04-25',
 '2019-08-29',
 '2021-07-15',
 '2021-07-01',
 '2022-02-17',
 '2022-08-04',
 '2019-02-21',
 '2020-05-28',
 '2024-01-18',
 '2020-06-04',
 '2023-12-28',
 '2021-09-02',
 '2018-08-30',
 '2022-09-01',
 '2019-09-05',
 '2017-11-30',
 '2021-09-16',
 '2023-02-16',
 '2021-01-07',
 '2021-01-14',
 '2022-01-06',
 '2022-04-21',
 '2021-04-01',
 '2021-05-06',
 '2019-09-26',
 '2021-05-12',
 '2022-03-10',
 '2020-07-16',
 '2022-05-05',
 '2017-03-30',
 '2023-07-06',
 '2023-04-13',
 '2022-12-01',
 '2023-07-20',
 '2021-04-15',
 '2021-06-03',
 '2020-06-18',
 '2020-03-05',
 '2024-01-25',
 '2019-10-03',
 '2020-10-22',
 '2020-05-14',
 '2019-06-06',
 '2023-10-19',
 '2019-03-07',
 '2019-07-25',
 '2022-03-31',
 '2019-12-19',
 '2020-10-29',
 '2024-03-14',
 '2022-01-13',
 '2022-07-14',
 '2022-10-20',
 '2019-04-04',
 '2022-07-21',
 '2020-12-24',
 '2022-12-08',
 '2021-07-29',
 '2023-03-16',
 '2021-05-20',
 '2021-12-16',
 '2019-10-31',
 '2023-06-22',
 '2023-09-28',
 '2017-04-27',
 '2024-01-11',
 '2017-05-25',
 '2021-11-25',
 '2024-03-21',
 '2019-04-11',
 '2022-12-15',
 '2017-10-26',
 '2019-05-02',
 '2020-07-09',
 '2022-11-24',
 '2023-04-06',
 '2021-04-29',
 '2023-05-04',
 '2020-04-30',
 '2020-12-10',
 '2021-06-17',
 '2023-11-09',
 '2018-11-29',
 '2019-08-22',
 '2020-03-19',
 '2022-03-03',
 '2022-11-17',
 '2018-02-22',
 '2023-02-02',
 '2022-07-28',
 '2023-02-09',
 '2023-04-27',
 '2018-09-27',
 '2024-03-07',
 '2019-06-20',
 '2020-08-13',
 '2019-08-14',
 '2023-10-05',
 '2020-05-07',
 '2017-06-29',
 '2019-02-28',
 '2021-04-08',
 '2024-02-15',
 '2022-09-08',
 '2020-02-27',
 '2024-02-29',
 '2021-02-11',
 '2020-05-21',
 '2023-10-26',
 '2018-05-31',
 '2020-10-15',
 '2021-02-04',
 '2019-05-30',
 '2021-04-22',
 '2017-12-28',
 '2023-08-24',
 '2024-02-08',
 '2023-01-19']

In [8]:
for i in range(1, len(df2)):
    if df2.iloc[i]['Expiry'] in list_nf:
        df2.iloc[i]['Quantity'] = df2.iloc[i]['Quantity'] / 2
        df2.iloc[i]['PnL'] = df2.iloc[i]['PnL'] / 2
        df2.iloc[i]['ROI'] = df2.iloc[i]['ROI'] / 2

for i in range(1, len(df3)):
    if df2.iloc[i]['Expiry'] in list_bnf:
        df2.iloc[i]['Quantity'] = df2.iloc[i]['Quantity'] / 2
        df2.iloc[i]['PnL'] = df2.iloc[i]['PnL'] / 2
        df2.iloc[i]['ROI'] = df2.iloc[i]['ROI'] / 2

/tmp/ipykernel_417357/3311840703.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i]['Quantity'] = df2.iloc[i]['Quantity'] / 2
/tmp/ipykernel_417357/3311840703.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i]['PnL'] = df2.iloc[i]['PnL'] / 2
/tmp/ipykernel_417357/3311840703.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i]['ROI'] = df2.iloc[i]['ROI'] / 2
/tmp/ipykernel_417357/3311840703.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i]['Quantity'] = df2.iloc[i]['Quantity'] / 2
/tmp/ipykernel_417357/3311840703.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i]['PnL'] = df2.iloc[i]['PnL'] / 2
/tmp/ipykernel_417357/3311840703.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[i]['ROI'] = df2.iloc[i]['ROI'] / 2

In [12]:
final_df = pd.concat([df1, df2, df3])
final_df

,Date,Position,Type,Expiry,Index,Contract,Entry Time,Exit Time,Entry Price,Exit Price,Quantity,PnL,Points,ROI
0,2022-10-25,CLOSED,HEDGE,2022-10-25,FINNIFTY,18200PE,09:16:00,15:22:00,1.90,0.25,824.175824,-1359.890110,-1.65,-0.135989
1,2022-10-25,CLOSED,HEDGE,2022-10-25,FINNIFTY,18800CE,09:16:00,15:22:00,0.60,0.10,797.872340,-398.936170,-0.50,-0.039894
2,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18400CE,09:16:00,15:22:00,87.35,0.55,-163.043478,14152.173910,86.80,1.415217
3,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18400PE,09:16:00,15:22:00,20.50,65.00,-163.043478,-7255.434783,-44.50,-0.725543
4,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18450CE,09:16:00,15:14:00,54.70,0.10,-162.601626,8878.048780,54.60,0.887805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22300PE,15:03:00,15:22:00,7.05,2.10,-134.529148,665.919283,4.95,0.07%
4454,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22250CE,15:09:00,15:22:00,60.50,205.90,-134.831461,-19604.494380,-145.40,-1.96%
4455,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22250PE,15:09:00,15:22:00,18.00,1.30,-134.831461,2251.685393,16.70,0.23%
4456,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22200CE,15:11:00,15:22:00,93.50,255.60,-135.135135,-21905.405410,-162.10,-2.19%
4457,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22200PE,15:11:00,15:22:00,7.50,0.90,-135.135135,891.891892,6.60,0.09%

In [13]:
final_df['Datetime'] = pd.to_datetime(final_df['Date'] + ' ' + final_df['Entry Time'])
final_df

,Date,Position,Type,Expiry,Index,Contract,Entry Time,Exit Time,Entry Price,Exit Price,Quantity,PnL,Points,ROI,Datetime
0,2022-10-25,CLOSED,HEDGE,2022-10-25,FINNIFTY,18200PE,09:16:00,15:22:00,1.90,0.25,824.175824,-1359.890110,-1.65,-0.135989,2022-10-25 09:16:00
1,2022-10-25,CLOSED,HEDGE,2022-10-25,FINNIFTY,18800CE,09:16:00,15:22:00,0.60,0.10,797.872340,-398.936170,-0.50,-0.039894,2022-10-25 09:16:00
2,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18400CE,09:16:00,15:22:00,87.35,0.55,-163.043478,14152.173910,86.80,1.415217,2022-10-25 09:16:00
3,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18400PE,09:16:00,15:22:00,20.50,65.00,-163.043478,-7255.434783,-44.50,-0.725543,2022-10-25 09:16:00
4,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18450CE,09:16:00,15:14:00,54.70,0.10,-162.601626,8878.048780,54.60,0.887805,2022-10-25 09:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22300PE,15:03:00,15:22:00,7.05,2.10,-134.529148,665.919283,4.95,0.07%,2024-03-28 15:03:00
4454,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22250CE,15:09:00,15:22:00,60.50,205.90,-134.831461,-19604.494380,-145.40,-1.96%,2024-03-28 15:09:00
4455,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22250PE,15:09:00,15:22:00,18.00,1.30,-134.831461,2251.685393,16.70,0.23%,2024-03-28 15:09:00
4456,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22200CE,15:11:00,15:22:00,93.50,255.60,-135.135135,-21905.405410,-162.10,-2.19%,2024-03-28 15:11:00
4457,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22200PE,15:11:00,15:22:00,7.50,0.90,-135.135135,891.891892,6.60,0.09%,2024-03-28 15:11:00

In [17]:
final_df_sorted = final_df.sort_values(by='Datetime')
final_df_sorted.reset_index(drop=True, inplace=True)
final_df_sorted

,Date,Position,Type,Expiry,Index,Contract,Entry Time,Exit Time,Entry Price,Exit Price,Quantity,PnL,Points,ROI,Datetime
0,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18000CE,09:16:00,15:22:00,58.00,105.30,-166.666667,-7883.333333,-47.30,-0.007883,2017-01-05 09:16:00
1,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18000PE,09:16:00,15:22:00,50.00,0.05,-166.666667,8325.000000,49.95,0.008325,2017-01-05 09:16:00
2,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,17900PE,09:16:00,15:22:00,18.35,0.05,-167.597765,3067.039106,18.30,0.003067,2017-01-05 09:16:00
3,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,18200PE,09:16:00,15:22:00,192.55,73.45,-164.835165,19631.868130,119.10,0.019632,2017-01-05 09:16:00
4,2017-01-05,CLOSED,STRADDLE,2017-01-05,BANKNIFTY,17900CE,09:16:00,15:22:00,117.65,195.00,-167.597765,-12963.687150,-77.35,-0.012964,2017-01-05 09:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12869,2023-06-28,CLOSED,STRADDLE,2023-06-28,NIFTY,18950PE,NaN,NaN,10000.00,10000.00,-158.311346,0.000000,0.00,0.000000,NaT
12870,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19000CE,NaN,NaN,10000.00,10000.00,-157.894737,0.000000,0.00,0.000000,NaT
12871,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19000PE,NaN,NaN,10000.00,10000.00,-157.894737,0.000000,0.00,0.000000,NaT
12872,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19050CE,NaN,NaN,10000.00,10000.00,-157.480315,0.000000,0.00,0.000000,NaT
12873,2023-06-28,CLOSED,REBALANCE,2023-06-28,NIFTY,19050PE,NaN,NaN,10000.00,10000.00,-157.480315,0.000000,0.00,0.000000,NaT

In [18]:
final_df_sorted.to_csv('All Indices 5LS V_1.1.csv')

In [16]:
final_df['ROI'] = final_df['PnL'] / 1000000
final_df

,Date,Position,Type,Expiry,Index,Contract,Entry Time,Exit Time,Entry Price,Exit Price,Quantity,PnL,Points,ROI,Datetime
0,2022-10-25,CLOSED,HEDGE,2022-10-25,FINNIFTY,18200PE,09:16:00,15:22:00,1.90,0.25,824.175824,-1359.890110,-1.65,-0.001360,2022-10-25 09:16:00
1,2022-10-25,CLOSED,HEDGE,2022-10-25,FINNIFTY,18800CE,09:16:00,15:22:00,0.60,0.10,797.872340,-398.936170,-0.50,-0.000399,2022-10-25 09:16:00
2,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18400CE,09:16:00,15:22:00,87.35,0.55,-163.043478,14152.173910,86.80,0.014152,2022-10-25 09:16:00
3,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18400PE,09:16:00,15:22:00,20.50,65.00,-163.043478,-7255.434783,-44.50,-0.007255,2022-10-25 09:16:00
4,2022-10-25,CLOSED,STRADDLE,2022-10-25,FINNIFTY,18450CE,09:16:00,15:14:00,54.70,0.10,-162.601626,8878.048780,54.60,0.008878,2022-10-25 09:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22300PE,15:03:00,15:22:00,7.05,2.10,-134.529148,665.919283,4.95,0.000666,2024-03-28 15:03:00
4454,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22250CE,15:09:00,15:22:00,60.50,205.90,-134.831461,-19604.494380,-145.40,-0.019604,2024-03-28 15:09:00
4455,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22250PE,15:09:00,15:22:00,18.00,1.30,-134.831461,2251.685393,16.70,0.002252,2024-03-28 15:09:00
4456,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22200CE,15:11:00,15:22:00,93.50,255.60,-135.135135,-21905.405410,-162.10,-0.021905,2024-03-28 15:11:00
4457,2024-03-28,CLOSED,REBALANCE,2024-03-28,NIFTY,22200PE,15:11:00,15:22:00,7.50,0.90,-135.135135,891.891892,6.60,0.000892,2024-03-28 15:11:00