In [43]:
import datetime as dt
import math

import matplotlib.pyplot as plt
import mplfinance as mpf
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal
import plotly.graph_objects as go
import polars as pl
from dash import Dash, dcc, html
from plotly.subplots import make_subplots

nse = mcal.get_calendar("NSE")

pd.set_option("display.max_rows", 25_000)
pd.set_option("display.max_columns", 500)
pl.Config.set_tbl_cols(500)
pl.Config.set_tbl_rows(10_000)

pd.options.display.float_format = "{:.4f}".format

import sys

sys.path.append("..")
# from tooling.enums import AssetClass, Index, Spot, StrikeSpread
# from tooling.fetch import fetch_option_data, fetch_spot_data
# from tooling.filter import find_atm, option_tool

from fetching_from_local_db.enums import AssetClass, Index, StrikeSpread
from fetching_from_local_db.fetch_from_db import (
    _fetch_batch,
    fetch_data,
    fetch_spot_data,
)

In [44]:
bnf_pandas = pd.read_csv("../data/nifty_opt2.csv")
bnf_pandas["time"] = pd.to_datetime(bnf_pandas["time"])
bnf_pandas["time"] = bnf_pandas["time"].dt.tz_localize(None)
bnf_pandas = bnf_pandas[bnf_pandas["time"].dt.year >= 2017]
bnf_pandas['datetime'] = bnf_pandas['time']

In [45]:
bnf = pl.DataFrame(bnf_pandas)
print(type(bnf))
# bnf
bnf = bnf.with_columns([pl.col("datetime").alias("index")]).drop("datetime")
bnf = bnf.with_columns(pl.col("index").alias("datetime"))

<class 'polars.dataframe.frame.DataFrame'>

In [46]:
import pandas as pd

def calculate_tradingview_rsi(df, column_name="close", rsi_period=14):
    """
    Calculate RSI matching TradingView's methodology using RMA (Relative Moving Average).

    Parameters:
    - df (pd.DataFrame): DataFrame containing the data.
    - column_name (str): Column name to calculate RSI on (default is 'close').
    - rsi_period (int): Period for the RSI calculation (default is 14).

    Returns:
    - pd.DataFrame: Original DataFrame with an added 'RSI' column matching TradingView's RSI.
    """
    if column_name not in df.columns:
        raise ValueError(f"The column '{column_name}' is not in the DataFrame.")
    
    # Ensure the input column is numeric
    if not pd.api.types.is_numeric_dtype(df[column_name]):
        raise TypeError(f"The column '{column_name}' must be numeric.")
    
    # Calculate price changes
    delta = df[column_name].diff()
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)

    # Calculate RMA for gain and loss
    rma_gain = gain.ewm(alpha=1 / rsi_period, adjust=False).mean()
    rma_loss = loss.ewm(alpha=1 / rsi_period, adjust=False).mean()

    # Compute RSI
    rs = rma_gain / rma_loss
    df["RSI_Coded"] = 100 - (100 / (1 + rs))
    
    return df

In [47]:
def calculate_rsi_2(df, rsi_n):
    delta = df['close'].diff()
    gain = np.where(delta > 0, delta, 0)
    loss = np.where(delta < 0, -delta, 0)

    avg_gain = pd.Series(gain).rolling(window=rsi_n, min_periods=rsi_n).mean()
    avg_loss = pd.Series(loss).rolling(window=rsi_n, min_periods=rsi_n).mean()

    rs = avg_gain / avg_loss
    df['RSI Coded2'] = 100 - (100 / (1 + rs))

    return df

In [48]:
bnf.tail()

shape: (5, 9)
┌──────────────┬───────┬───────┬───────┬───────┬───────────┬───────────┬─────────────┬─────────────┐
│ time         ┆ open  ┆ high  ┆ low   ┆ close ┆ RSI       ┆ RSI.1     ┆ index       ┆ datetime    │
│ ---          ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---       ┆ ---       ┆ ---         ┆ ---         │
│ datetime[ns] ┆ f64   ┆ f64   ┆ f64   ┆ f64   ┆ f64       ┆ f64       ┆ datetime[ns ┆ datetime[ns │
│              ┆       ┆       ┆       ┆       ┆           ┆           ┆ ]           ┆ ]           │
╞══════════════╪═══════╪═══════╪═══════╪═══════╪═══════════╪═══════════╪═════════════╪═════════════╡
│ 2024-12-24   ┆ 44.15 ┆ 46.75 ┆ 43.1  ┆ 43.8  ┆ 50.211853 ┆ 47.99609  ┆ 2024-12-24  ┆ 2024-12-24  │
│ 15:05:00     ┆       ┆       ┆       ┆       ┆           ┆           ┆ 15:05:00    ┆ 15:05:00    │
│ 2024-12-24   ┆ 43.75 ┆ 46.35 ┆ 42.85 ┆ 45.6  ┆ 52.326943 ┆ 49.763928 ┆ 2024-12-24  ┆ 2024-12-24  │
│ 15:10:00     ┆       ┆       ┆       ┆       ┆           ┆           ┆ 15:10:00    ┆ 15:10:00    │
│ 2024-12-24   ┆ 45.6  ┆ 45.6  ┆ 39.65 ┆ 41.45 ┆ 47.334212 ┆ 39.408867 ┆ 2024-12-24  ┆ 2024-12-24  │
│ 15:15:00     ┆       ┆       ┆       ┆       ┆           ┆           ┆ 15:15:00    ┆ 15:15:00    │
│ 2024-12-24   ┆ 42.0  ┆ 43.55 ┆ 40.85 ┆ 43.2  ┆ 49.521441 ┆ 52.34657  ┆ 2024-12-24  ┆ 2024-12-24  │
│ 15:20:00     ┆       ┆       ┆       ┆       ┆           ┆           ┆ 15:20:00    ┆ 15:20:00    │
│ 2024-12-24   ┆ 43.35 ┆ 43.85 ┆ 40.3  ┆ 41.05 ┆ 46.942074 ┆ 27.6771   ┆ 2024-12-24  ┆ 2024-12-24  │
│ 15:25:00     ┆       ┆       ┆       ┆       ┆           ┆           ┆ 15:25:00    ┆ 15:25:00    │
└──────────────┴───────┴───────┴───────┴───────┴───────────┴───────────┴─────────────┴─────────────┘

In [49]:
bnf2 = bnf.to_pandas()

In [50]:
bnf3 = calculate_tradingview_rsi(bnf2)
bnf3.tail()

,time,open,high,low,close,RSI,RSI.1,index,datetime,RSI_Coded
295,2024-12-24 15:05:00,44.1500,46.7500,43.1000,43.8000,50.2119,47.9961,2024-12-24 15:05:00,2024-12-24 15:05:00,50.2119
296,2024-12-24 15:10:00,43.7500,46.3500,42.8500,45.6000,52.3269,49.7639,2024-12-24 15:10:00,2024-12-24 15:10:00,52.3269
297,2024-12-24 15:15:00,45.6000,45.6000,39.6500,41.4500,47.3342,39.4089,2024-12-24 15:15:00,2024-12-24 15:15:00,47.3342
298,2024-12-24 15:20:00,42.0000,43.5500,40.8500,43.2000,49.5214,52.3466,2024-12-24 15:20:00,2024-12-24 15:20:00,49.5214
299,2024-12-24 15:25:00,43.3500,43.8500,40.3000,41.0500,46.9421,27.6771,2024-12-24 15:25:00,2024-12-24 15:25:00,46.9421

In [51]:
bnf4 = calculate_rsi_2(bnf2, 14)
bnf4.tail()

,time,open,high,low,close,RSI,RSI.1,index,datetime,RSI_Coded,RSI Coded2
295,2024-12-24 15:05:00,44.1500,46.7500,43.1000,43.8000,50.2119,47.9961,2024-12-24 15:05:00,2024-12-24 15:05:00,50.2119,47.9961
296,2024-12-24 15:10:00,43.7500,46.3500,42.8500,45.6000,52.3269,49.7639,2024-12-24 15:10:00,2024-12-24 15:10:00,52.3269,49.7639
297,2024-12-24 15:15:00,45.6000,45.6000,39.6500,41.4500,47.3342,39.4089,2024-12-24 15:15:00,2024-12-24 15:15:00,47.3342,39.4089
298,2024-12-24 15:20:00,42.0000,43.5500,40.8500,43.2000,49.5214,52.3466,2024-12-24 15:20:00,2024-12-24 15:20:00,49.5214,52.3466
299,2024-12-24 15:25:00,43.3500,43.8500,40.3000,41.0500,46.9421,27.6771,2024-12-24 15:25:00,2024-12-24 15:25:00,46.9421,27.6771

# NIFTY 26Dec 23700PE