In [1]:
import pandas as pd
import datetime as dt

In [14]:
mtrend = pd.read_csv('MTrend tb.csv')
molotov = pd.read_csv('molotov.csv')
mtrend['ROI%'] = mtrend['ROI% PF'] 
molotov['Entry Date'] = pd.to_datetime(df['date'] + ' ' + df['Entry Time'])
mtrend['Entry Date'] = mtrend['Entry Time']
mtrend.head()

,Signal Generated At,Trade Type,Entry Time,Entry Price,Initial SL,Final SL,Exit Time,Exit Price,Points Captured,After Costs,...,Remarks,Qty,Leverage,ROI%,Trade Year,Trade Month,Index,Allocation,Portfolio,ROI% PF
0,2017-01-09 10:15:00,LONG,2017-01-09 11:15:00,8246.55,8227.75,8410.596250,2017-01-20 10:15:00,8407.60,161.05,157.719170,...,TSL Hit,5750,6.333,4.030601,2017,1,NIFTY,7500000,22500000.0,4.030601
1,2017-01-11 10:15:00,LONG,2017-01-11 11:15:00,18670.85,18612.35,19125.236111,2017-01-19 09:15:00,19071.85,401.00,397.225730,...,TSL Hit,2040,5.066,3.601513,2017,1,BANKNIFTY,7500000,22500000.0,3.601513
2,2017-01-16 11:15:00,LONG,2017-01-16 12:15:00,27284.29,27245.95,27245.950000,2017-01-17 10:15:00,27245.95,-38.34,-43.793024,...,Initial SL hit,1740,6.333,-0.338666,2017,1,SENSEX,7500000,22500000.0,-0.338666
3,2017-01-17 13:15:00,LONG,2017-01-17 14:15:00,27239.94,27197.43,27197.430000,2017-01-17 14:15:00,27197.43,-42.51,-47.953737,...,Initial SL hit,1740,6.333,-0.370842,2017,1,SENSEX,7500000,22500000.0,-0.370842
4,2017-01-18 15:15:00,LONG,2017-01-19 09:15:00,27281.86,27223.92,27223.920000,2017-01-19 09:15:00,27223.92,-57.94,-63.390578,...,Initial SL hit,1740,6.333,-0.490220,2017,1,SENSEX,7500000,22500000.0,-0.490220

In [15]:
# Define the start and end dates for the range
start_date = dt.date(2019, 1, 1)
end_date = dt.date(2024, 6, 30)
mtrend['Entry Time'] = pd.to_datetime(mtrend['Entry Time'])
# Filter the DataFrame within the specified date range
mtrend = mtrend[(mtrend['Entry Time'].dt.date >= start_date) & (mtrend['Entry Time'].dt.date <= end_date)]

In [16]:
combined_df = pd.concat([mtrend, molotov], ignore_index=True)

In [17]:
combined_df

,Signal Generated At,Trade Type,Entry Time,Entry Price,Initial SL,Final SL,Exit Time,Exit Price,Points Captured,After Costs,...,type,initial sl,TSL,Exit date,Remark,Slippage,Highest High,Lowest Low,Max ROI%,Margin
0,2019-01-01 13:15:00,LONG,2019-01-01 14:15:00,10830.35,10807.10,10808.370000,2019-01-02 12:15:00,10807.10,-23.25,-27.577490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01 14:15:00,LONG,2019-01-01 15:15:00,27395.35,27076.60,27201.263889,2019-01-02 13:15:00,27133.20,-262.15,-267.602855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-03 09:15:00,LONG,2019-01-03 10:15:00,10810.85,10750.00,10750.000000,2019-01-03 11:15:00,10750.00,-60.85,-65.162170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-03 12:15:00,LONG,2019-01-03 13:15:00,27087.80,26977.75,26977.750000,2019-01-03 13:15:00,26977.75,-110.05,-115.456555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-04 10:15:00,LONG,2019-01-04 11:15:00,27132.15,26926.90,27554.119444,2019-01-10 14:15:00,27521.20,389.05,383.584665,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2062,NaN,NaN,12:35:00,357.50,NaN,NaN,14:00:00,451.95,-94.45,NaN,...,C,451.95,0.0000,2024-05-31,SL hit,8.0945,454.20,351.25,0.132345,59.820011
2063,NaN,NaN,13:35:00,367.05,NaN,NaN,09:30:00,500.00,-132.95,NaN,...,P,500.00,154.7025,2024-06-04,SL hit,8.6705,561.50,50.00,4.769462,42.403159
2064,NaN,NaN,15:05:00,797.30,NaN,NaN,15:25:00,0.05,797.25,NaN,...,P,1395.50,1.0550,2024-06-06,EOD exit,7.9735,903.30,0.05,2.665496,9.382314
2065,NaN,NaN,09:50:00,210.95,NaN,NaN,15:25:00,0.05,210.90,NaN,...,C,265.90,0.0000,2024-06-06,EOD exit,2.1100,245.25,0.05,7.676069,105.550500
2066,NaN,NaN,12:30:00,97.75,NaN,NaN,15:25:00,0.05,97.70,NaN,...,P,219.70,0.1675,2024-06-13,EOD exit,0.9780,105.65,0.05,1.602296,46.740467

In [18]:
mtrend.head()

,Signal Generated At,Trade Type,Entry Time,Entry Price,Initial SL,Final SL,Exit Time,Exit Price,Points Captured,After Costs,...,Remarks,Qty,Leverage,ROI%,Trade Year,Trade Month,Index,Allocation,Portfolio,ROI% PF
448,2019-01-01 13:15:00,LONG,2019-01-01 14:15:00,10830.35,10807.10,10808.370000,2019-01-02 12:15:00,10807.10,-23.25,-27.577490,...,Initial SL hit,4375,6.333,-0.536229,2019,1,NIFTY,7500000,22500000.0,-0.536229
449,2019-01-01 14:15:00,LONG,2019-01-01 15:15:00,27395.35,27076.60,27201.263889,2019-01-02 13:15:00,27133.20,-262.15,-267.602855,...,TSL Hit,1380,5.066,-1.641298,2019,1,BANKNIFTY,7500000,22500000.0,-1.641298
450,2019-01-03 09:15:00,LONG,2019-01-03 10:15:00,10810.85,10750.00,10750.000000,2019-01-03 11:15:00,10750.00,-60.85,-65.162170,...,Initial SL Hit,4400,6.333,-1.274282,2019,1,NIFTY,7500000,22500000.0,-1.274282
451,2019-01-03 12:15:00,LONG,2019-01-03 13:15:00,27087.80,26977.75,26977.750000,2019-01-03 13:15:00,26977.75,-110.05,-115.456555,...,Initial SL Hit,1410,5.066,-0.723528,2019,1,BANKNIFTY,7500000,22500000.0,-0.723528
452,2019-01-04 10:15:00,LONG,2019-01-04 11:15:00,27132.15,26926.90,27554.119444,2019-01-10 14:15:00,27521.20,389.05,383.584665,...,TSL Hit,1395,5.066,2.378225,2019,1,BANKNIFTY,7500000,22500000.0,2.378225

In [19]:
molotov.head()

,date,day,expiry,DTE,strike,type,Entry Price,Entry Time,initial sl,TSL,...,Slippage,Qty,PnL,ROI%,Trade Year,Trade Month,Highest High,Lowest Low,Max ROI%,Margin
0,2019-01-25,Friday,2019-01-31,6,10900,C,85.00,12:45:00,108.95,0.0000,...,0.8505,835.073069,70229.227557,7.022923,2019,1,88.25,0.05,7.093946,113.778706
1,2019-01-29,Tuesday,2019-01-31,2,10650,P,61.50,10:25:00,78.10,62.0325,...,1.3960,1204.819277,-21681.927711,-2.168193,2019,1,79.80,50.25,1.355422,160.391566
2,2019-01-30,Wednesday,2019-01-31,1,10700,P,55.75,09:50:00,63.70,57.8150,...,1.1945,1495.327103,-13674.018692,-1.367402,2019,1,69.60,49.55,0.927103,200.000000
3,2019-01-30,Wednesday,2019-01-31,1,10650,P,57.40,10:45:00,69.40,36.4950,...,1.2680,1502.347418,-19933.145540,-1.993315,2019,1,69.50,20.45,5.551174,200.000000
4,2019-02-11,Monday,2019-02-14,3,11000,P,129.85,12:40:00,151.80,114.5075,...,2.8165,911.161731,-22566.287016,-2.256629,2019,2,155.00,91.00,3.539863,125.284738

In [20]:
combined_df['ROI%'] /= 2
combined_df = combined_df.sort_values(by='Entry Time')

In [21]:
def generate_stats(tb_expiry, variation):
    stats_df8 = pd.DataFrame(
        index=range(2017, 2025),
        columns=[
            "Total ROI",
            "Total Trades",
            "Win Rate",
            "Avg Profit% per Trade",
            "Avg Loss% per Trade",
            "Max Drawdown",
            "ROI/DD Ratio",
            "Variation",
        ],
    )
    combined_df_sorted = tb_expiry
    # combined_df_sorted = tb_expiry_ce
    # combined_df_sorted = tb_expiry_pe
    
    # Iterate over each year
    for year in range(2017, 2025):
        # Filter trades for the current year
        year_trades = combined_df_sorted[(combined_df_sorted["Trade Year"] == year)]
    
        # Calculate total ROI
        total_roi = year_trades["ROI%"].sum()
    
        # Calculate total number of trades
        total_trades = len(year_trades)
    
        # Calculate win rate
        win_rate = (year_trades["ROI%"] > 0).mean() * 100
    
        # Calculate average profit per trade
        avg_profit = year_trades[year_trades["ROI%"] > 0]["ROI%"].mean()
    
        # Calculate average loss per trade
        avg_loss = year_trades[year_trades["ROI%"] < 0]["ROI%"].mean()
    
        # Calculate maximum drawdown
        max_drawdown = (
            year_trades["ROI%"].cumsum() - year_trades["ROI%"].cumsum().cummax()
        ).min()
    
        # Calculate ROI/DD ratio
        roi_dd_ratio = total_roi / abs(max_drawdown)

        variation = variation
    
        # Store the statistics in the DataFrame
        stats_df8.loc[year] = [
            total_roi,
            total_trades,
            win_rate,
            avg_profit,
            avg_loss,
            max_drawdown,
            roi_dd_ratio,
            variation,
        ]
    
    # Calculate overall statistics
    overall_total_roi = stats_df8["Total ROI"].sum()
    overall_total_trades = stats_df8["Total Trades"].sum()
    overall_win_rate = (combined_df_sorted["ROI%"] > 0).mean() * 100
    overall_avg_profit = combined_df_sorted[combined_df_sorted["ROI%"] > 0]["ROI%"].mean()
    overall_avg_loss = combined_df_sorted[combined_df_sorted["ROI%"] < 0]["ROI%"].mean()
    overall_max_drawdown = (
        combined_df_sorted["ROI%"].cumsum() - combined_df_sorted["ROI%"].cumsum().cummax()
    ).min()
    overall_roi_dd_ratio = overall_total_roi / abs(overall_max_drawdown)
    overall_variation = variation
    
    # Store the overall statistics in the DataFrame
    stats_df8.loc["Overall"] = [
        overall_total_roi,
        overall_total_trades,
        overall_win_rate,
        overall_avg_profit,
        overall_avg_loss,
        overall_max_drawdown,
        overall_roi_dd_ratio,
        overall_variation,
    ]
    return {overall_roi_dd_ratio : stats_df8}

In [22]:
stats = generate_stats(combined_df, 'MTrend + Molotov')

In [23]:
for x, y in stats.items():
    z = pd.DataFrame(y)

z

,Total ROI,Total Trades,Win Rate,Avg Profit% per Trade,Avg Loss% per Trade,Max Drawdown,ROI/DD Ratio,Variation
2017,0.0,0,NaN,NaN,NaN,NaN,NaN,MTrend + Molotov
2018,0.0,0,NaN,NaN,NaN,NaN,NaN,MTrend + Molotov
2019,92.497388,355,36.901408,1.644053,-0.548543,-8.38219,11.034991,MTrend + Molotov
2020,177.43739,343,41.107872,2.357416,-0.76712,-10.125368,17.524043,MTrend + Molotov
2021,108.048796,358,37.988827,1.856006,-0.650307,-10.40015,10.389157,MTrend + Molotov
2022,79.246475,397,34.760705,1.731209,-0.616449,-11.485398,6.899759,MTrend + Molotov
2023,94.93088,394,38.832487,1.390549,-0.488892,-8.973046,10.57956,MTrend + Molotov
2024,27.111882,220,30.909091,1.53308,-0.507484,-11.063032,2.450674,MTrend + Molotov
Overall,579.27281,2067,37.106918,1.768049,-0.597555,-11.703696,49.494862,MTrend + Molotov

In [24]:
combined_df.to_csv('Combined_Mtrend_Molotov.csv')