In [2]:
import pandas as pd

In [14]:
import sys
sys.path.append("..")
df = pd.read_csv("../data/sensex_min (1).csv")

In [15]:
df.head()

,0,1,2,3,4,5,6
0,sensex,2023-08-28 09:15:00,64940.5703,65045.7891,64776.9219,65043.9414,0
1,sensex,2023-08-28 09:16:00,65050.3789,65064.1406,65012.7500,65012.7500,0
2,sensex,2023-08-28 09:17:00,65016.3516,65026.8086,64988.6406,65003.1992,0
3,sensex,2023-08-28 09:18:00,64999.4688,65007.4414,64974.5781,64986.8594,0
4,sensex,2023-08-28 09:19:00,64990.4805,65008.2109,64946.6797,64952.8203,0

In [16]:
df.tail()

             0                    1         2         3         4         5  6
123790  sensex  2024-12-31 15:25:00  78150.03  78179.34  78146.03  78174.08  0
123791  sensex  2024-12-31 15:26:00  78172.96  78198.02  78171.12  78188.46  0
123792  sensex  2024-12-31 15:27:00  78187.27  78194.56  78169.02  78192.19  0
123793  sensex  2024-12-31 15:28:00  78197.03  78207.24  78181.78  78207.24  0
123794  sensex  2024-12-31 15:29:00  78208.80  78226.47  78183.53  78226.47  0

In [17]:
# df = pd.DataFrame(data)

# Rename columns
df.columns = ['instrument', 'datetime', 'open', 'high', 'low', 'close', 'volume']

# Save the updated DataFrame to a CSV file
df.to_csv('sensex_min_w_cols.csv', index=False)

In [8]:
df.head()

,instrument,datetime,open,high,low,close,volume
0,bnf,2017-01-02 09:15:00,18242.30,18248.20,18175.90,18181.20,0
1,bnf,2017-01-02 09:16:00,18181.85,18194.70,18179.95,18184.45,0
2,bnf,2017-01-02 09:17:00,18184.95,18189.25,18133.80,18133.80,0
3,bnf,2017-01-02 09:18:00,18135.10,18141.55,18118.55,18138.95,0
4,bnf,2017-01-02 09:19:00,18138.95,18142.55,18120.45,18124.30,0

In [14]:
# df.columns

In [15]:
df2 = pd.read_csv('nifty_min_17_24.csv')

In [16]:
df2.head()

  instrument             datetime     open     high      low    close  volume
0      nifty  2017-01-02 09:15:00  8210.10  8211.70  8189.00  8189.55       0
1      nifty  2017-01-02 09:16:00  8188.75  8193.95  8188.75  8189.95       0
2      nifty  2017-01-02 09:17:00  8190.15  8190.75  8173.70  8173.70       0
3      nifty  2017-01-02 09:18:00  8173.35  8177.55  8169.15  8177.55       0
4      nifty  2017-01-02 09:19:00  8177.85  8178.15  8173.45  8174.40       0