In [38]:
import pandas as pd
import polars as pl
pd.set_option("display.max_rows", 25_000)
pd.set_option("display.max_columns", 500)
pl.Config.set_tbl_cols(500)
pl.Config.set_tbl_rows(10_000)

pd.options.display.float_format = "{:.4f}".format

In [39]:
df1 = pd.read_csv('MTrend Opt Buying 4 indices.csv')
df1['MTM'] = df1['Qty'] * df1['Points Captured']
df1.head(10)

,Unnamed: 0,Index,Strike,Option Type,Expiry,Signal Generated At,Trade Type,Entry Time,Entry Price,Initial SL,Final SL,Exit Time,Exit Price,Points Captured,Slippages,After Costs,PnL,Remarks,Qty,ROI%,Trade Year,Trade Month,Cumulative PnL,Cumulative ROI%,Running Max ROI%,Drawdown,MTM
0,0,BANKNIFTY,18100,C,2017-01-05,2017-01-05 14:00:00,BUY,2017-01-05 14:05:00,34.9500,25.9500,25.9500,2017-01-05 14:15:00,25.9500,-9.0000,0.9135,-9.9135,-11015.0000,Initial SL Hit,1111.1111,-1.1015,2017,1,-11015.0000,-1.1015,-1.1015,0.0000,-10000.0000
1,311,NIFTY,8550,C,2017-01-25,2017-01-25 13:30:00,BUY,2017-01-25 13:35:00,10.9500,7.2500,7.2500,2017-01-25 14:00:00,7.2500,-3.7000,0.2730,-3.9730,-10737.8378,Initial SL Hit,2702.7027,-1.0738,2017,1,-21752.8378,-2.1753,-1.1015,-1.0738,-10000.0000
2,1,BANKNIFTY,19300,C,2017-01-25,2017-01-25 14:00:00,BUY,2017-01-25 14:05:00,15.1500,9.4500,9.4500,2017-01-25 14:10:00,9.4500,-5.7000,0.3690,-6.0690,-10647.3684,Initial SL Hit,1754.3860,-1.0647,2017,1,-32400.2063,-3.2400,-1.1015,-2.1385,-10000.0000
3,312,NIFTY,8550,C,2017-01-25,2017-01-25 14:10:00,BUY,2017-01-25 14:15:00,10.5500,6.0000,21.0125,2017-01-25 14:45:00,20.7500,10.2000,0.4695,9.7305,21385.7143,TSL Hit,2197.8022,2.1386,2017,1,-11014.4920,-1.1014,-1.1014,0.0000,22417.5824
4,2,BANKNIFTY,19300,C,2017-01-25,2017-01-25 14:20:00,BUY,2017-01-25 14:25:00,11.3500,7.3000,148.5000,2017-01-25 15:20:00,161.0000,149.6500,2.5852,147.0648,363122.8395,EOD Exit,2469.1358,36.3123,2017,1,352108.3475,35.2108,35.2108,0.0000,369506.1728
5,313,NIFTY,8550,C,2017-01-25,2017-01-25 14:50:00,BUY,2017-01-25 14:55:00,21.5000,15.5000,43.1375,2017-01-25 15:20:00,42.6000,21.1000,0.9615,20.1385,33564.1667,TSL Hit,1666.6667,3.3564,2017,1,385672.5142,38.5673,38.5673,0.0000,35166.6667
6,3,BANKNIFTY,20100,C,2017-02-02,2017-02-02 14:00:00,BUY,2017-02-02 14:05:00,54.8000,24.6500,41.9000,2017-02-02 14:20:00,24.6500,-30.1500,1.1918,-31.3418,-10395.2736,Initial SL hit,331.6750,-1.0395,2017,2,375277.2406,37.5277,38.5673,-1.0395,-10000.0000
7,4,BANKNIFTY,20100,C,2017-02-02,2017-02-02 14:25:00,BUY,2017-02-02 14:30:00,29.0000,16.3500,16.3500,2017-02-02 15:00:00,16.3500,-12.6500,0.6803,-13.3302,-10537.7470,Initial SL Hit,790.5138,-1.0538,2017,2,364739.4935,36.4739,38.5673,-2.0933,-10000.0000
8,5,BANKNIFTY,20300,C,2017-02-16,2017-02-16 13:55:00,BUY,2017-02-16 14:00:00,29.1500,14.8500,14.8500,2017-02-16 14:05:00,14.8500,-14.3000,0.6600,-14.9600,-10461.5385,Initial SL Hit,699.3007,-1.0462,2017,2,354277.9551,35.4278,38.5673,-3.1395,-10000.0000
9,314,NIFTY,9000,C,2017-02-23,2017-02-23 13:40:00,BUY,2017-02-23 13:45:00,8.3500,6.4000,7.6750,2017-02-23 14:00:00,6.7500,-1.6000,0.2265,-1.8265,-9366.6667,TSL Hit,5128.2051,-0.9367,2017,2,344911.2884,34.4911,38.5673,-4.0761,-8205.1282

In [40]:
df1x = df1.groupby('Expiry', as_index=False)['MTM'].sum()
df1x.head(10)

       Expiry         MTM
0  2017-01-05 -10000.0000
1  2017-01-25 407090.4219
2  2017-02-02 -20000.0000
3  2017-02-16 -10000.0000
4  2017-02-23  -8205.1282
5  2017-03-02 283469.3878
6  2017-04-06 -10000.0000
7  2017-04-27 -30000.0000
8  2017-05-04   1830.0654
9  2017-05-11  43041.6667

In [42]:
df1x.rename(columns={'Expiry': 'Date'}, inplace=True)
# df1 = df1[['Date', 'PnL']]
df1x['Date'] = pd.to_datetime(df1x['Date'], format='ISO8601')
df1x.head(10)

        Date         MTM
0 2017-01-05 -10000.0000
1 2017-01-25 407090.4219
2 2017-02-02 -20000.0000
3 2017-02-16 -10000.0000
4 2017-02-23  -8205.1282
5 2017-03-02 283469.3878
6 2017-04-06 -10000.0000
7 2017-04-27 -30000.0000
8 2017-05-04   1830.0654
9 2017-05-11  43041.6667

In [43]:
df2 = pd.read_csv('MTrend Day-Wise MTM Sheet.csv')
df2.drop(columns=['MTM'], inplace=True)
df2.rename(columns={'MTM1': 'MTM', 'DATETIME': 'Date'}, inplace=True)
df2['Date'] = pd.to_datetime(df2['Date'], format='mixed', dayfirst=True)
df2.head(10)

ValueError: Time data 09-01-2017 is not ISO8601 format, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [37]:
merged_df = pd.merge(df1x, df2, on='Date', how='outer', suffixes=('_opt_buy', '_pos')).fillna(0)
merged_df['Date'] = pd.to_datetime(merged_df['Date'])

# merged_df_sorted = merged_df.sort_values(by='Date', ascending=True)
merged_df

ValueError: time data "13-01-2017" doesn't match format "%m-%d-%Y", at position 647. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [35]:
correlation = merged_df['MTM_opt_buy'].corr(merged_df['MTM_pos'])
correlation

-0.005387008578999981