In [99]:
# MTrend Pivots

import asyncio
import datetime as dt
import math
from typing import Literal

import matplotlib.pyplot as plt
import mplfinance as mpf
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal
import plotly.graph_objects as go
import polars as pl
from dash import Dash, dcc, html
from plotly.subplots import make_subplots

nse = mcal.get_calendar("NSE")

pd.set_option("display.max_rows", 25_000)
pd.set_option("display.max_columns", 500)
pl.Config.set_tbl_cols(500)
pl.Config.set_tbl_rows(10_000)

pd.options.display.float_format = "{:.4f}".format

import sys

sys.path.append("..")
from tooling.enums import AssetClass, Index, Spot, StrikeSpread
from tooling.fetch import fetch_option_data, fetch_spot_data
from tooling.filter import find_atm, option_tool

In [34]:
bnf_1hr = pd.read_csv("../data/bnf_1hr_tv.csv")
bnf_1hr["datetime"] = pd.to_datetime(bnf_1hr["time"])
bnf_1hr = bnf_1hr.drop(columns=["time"])
bnf_1hr = bnf_1hr[(bnf_1hr["datetime"].dt.year >= 2017)]
bnf_1hr.tail()

            open       high        low      close                  datetime
21455 49942.4000 50032.1500 49835.2500 49939.2500 2024-06-13 11:15:00+05:30
21456 49940.7500 49984.8000 49921.5000 49967.4500 2024-06-13 12:15:00+05:30
21457 49965.8500 49975.5000 49860.7000 49902.9500 2024-06-13 13:15:00+05:30
21458 49902.9000 49905.7000 49799.6500 49821.0500 2024-06-13 14:15:00+05:30
21459 49818.8000 49920.6000 49817.9500 49889.3000 2024-06-13 15:15:00+05:30

In [191]:
spot_data = pd.read_csv("../data/bnf.csv")
spot_data["datetime"] = pd.to_datetime(spot_data["datetime"])
spot_data["datetime"] = spot_data["datetime"].dt.tz_localize(None)
spot_data = spot_data.drop(columns=["_id", "exchange", "tf", "instrument"])
spot_data = pl.DataFrame(spot_data)
# print(spot_data.head())
spot_data = spot_data.with_columns([pl.col("datetime").alias("index")])


def resample(
    data: pl.DataFrame, timeframe, offset: dt.timedelta | None = None
) -> pl.DataFrame:
    return (
        data.set_sorted("datetime")
        .group_by_dynamic(
            index_column="datetime",
            every=timeframe,
            period=timeframe,
            label='left',
            offset=offset,
        )
        .agg(
            [
                pl.col("o").first().alias("o"),
                pl.col("h").max().alias("h"),
                pl.col("l").min().alias("l"),
                pl.col("c").last().alias("c"),
                pl.col("v").sum().alias("v"),
            ]
        )
    )


bnf_resampled = resample(spot_data, "60m", pd.Timedelta(minutes=15))

bnf_df = bnf_resampled.to_pandas()
bnf_df = bnf_df.rename(
    columns={"o": "open", "h": "high", "l": "low", "c": "close", "v": "volume"}
)
bnf_1hr = bnf_df
bnf_1hr.head(10)

             datetime       open       high        low      close  volume
0 2017-01-02 09:15:00 18242.3000 18248.2000 17995.4000 18017.6000       0
1 2017-01-02 10:15:00 18017.1000 18035.7500 17874.1000 17903.9000       0
2 2017-01-02 11:15:00 17903.6000 17923.8500 17845.3500 17912.1000       0
3 2017-01-02 12:15:00 17911.6000 17951.1500 17893.6500 17946.9000       0
4 2017-01-02 13:15:00 17947.1500 18027.8000 17928.1000 18019.3000       0
5 2017-01-02 14:15:00 18018.8500 18052.8500 17945.5000 17962.7000       0
6 2017-01-02 15:15:00 17963.2500 17983.7500 17957.6000 17977.8000       0
7 2017-01-03 09:15:00 18002.7500 18069.4500 17831.7500 18066.6000       0
8 2017-01-03 10:15:00 18067.0000 18115.0000 18052.2500 18101.0500       0
9 2017-01-03 11:15:00 18100.2000 18106.8500 18044.4500 18079.1500       0

In [192]:
PORTFOLIO = 10_00_000
INDEX_LEVERAGE = 3
SLIPPAGE_FACTOR = 0.0001

In [193]:
def identify_pivots(df):
    # Initialize columns for bullish and bearish pivots
    df["Bullish Pivot"] = 0
    df["Bearish Pivot"] = 0

    # Identify bullish pivots
    for i in range(20, len(df)):
        if (df["low"][i - 20 : i - 10].min() >= df["low"][i - 10]) and (
            df["low"][i - 10 : i].min() >= df["low"][i - 10]
        ):
            df.at[i - 10, "Bullish Pivot"] = 1

    # Identify bearish pivots
    for i in range(20, len(df)):
        if (df["high"][i - 20 : i - 10].max() <= df["high"][i - 10]) and (
            df["high"][i - 10 : i].max() <= df["high"][i - 10]
        ):
            df.at[i - 10, "Bearish Pivot"] = 1

    return df


bnf_with_signals = identify_pivots(bnf_1hr)
bnf_with_signals.tail(50)

,datetime,open,high,low,close,volume,Bullish Pivot,Bearish Pivot
12792,2024-05-29 15:15:00,48518.4000,48624.9000,48460.7500,48563.0500,0,0,0
12793,2024-05-30 09:15:00,48313.6000,48919.9000,48313.6000,48654.0000,0,1,0
12794,2024-05-30 10:15:00,48649.3000,48788.6500,48632.1500,48646.1500,0,0,0
12795,2024-05-30 11:15:00,48642.9500,48713.2000,48531.0500,48644.1000,0,0,0
12796,2024-05-30 12:15:00,48644.9000,48874.2000,48614.7000,48851.1000,0,0,0
12797,2024-05-30 13:15:00,48850.2500,49044.6000,48766.1000,48852.4000,0,0,0
12798,2024-05-30 14:15:00,48850.5000,48905.4000,48545.0000,48637.2500,0,0,0
12799,2024-05-30 15:15:00,48642.2500,48838.6500,48642.2500,48822.8500,0,0,0
12800,2024-05-31 09:15:00,48895.1500,49079.0500,48719.5000,48719.5000,0,0,0
12801,2024-05-31 10:15:00,48717.8500,48821.2000,48612.4500,48698.5000,0,0,0
12802,2024-05-31 11:15:00,48698.3500,48792.1500,48569.0500,48688.5000,0,0,0
12803,2024-05-31 12:15:00,48684.6500,48863.4000,48681.2500,48836.9500,0,0,0
12804,2024-05-31 13:15:00,48835.7000,49108.3500,48831.8000,49030.7500,0,0,0
12805,2024-05-31 14:15:00,49034.6500,49035.9000,48722.8000,48966.3000,0,0,0
12806,2024-05-31 15:15:00,48964.1500,49122.5500,48937.4500,48967.9500,0,0,0
12807,2024-06-03 09:15:00,50889.8500,50990.0000,50092.6500,50471.3500,0,0,0
12808,2024-06-03 10:15:00,50471.3500,50579.8000,50387.3000,50539.0000,0,0,0
12809,2024-06-03 11:15:00,50544.8500,50948.2000,50535.8000,50852.0500,0,0,0
12810,2024-06-03 12:15:00,50850.3000,50932.3500,50723.3500,50914.4500,0,0,0
12811,2024-06-03 13:15:00,50913.1500,50921.8500,50611.4000,50791.7000,0,0,0
12812,2024-06-03 14:15:00,50787.8500,50965.6000,50709.5500,50955.0000,0,0,0
12813,2024-06-03 15:15:00,50957.4000,51133.2000,50956.6000,51106.0500,0,0,1
12814,2024-06-04 09:15:00,50667.0500,50667.0500,48741.5500,49525.6500,0,0,0
12815,2024-06-04 10:15:00,49526.7000,49526.7000,47414.4000,47714.9500,0,0,0
12816,2024-06-04 11:15:00,47712.6500,48439.2500,46138.3500,46701.4500,0,0,0
12817,2024-06-04 12:15:00,46693.6000,47399.9000,46077.8500,47284.4000,0,1,0
12818,2024-06-04 13:15:00,47284.3500,48083.8500,46943.2000,47512.6000,0,0,0
12819,2024-06-04 14:15:00,47509.3500,47670.5500,46652.1500,47035.8000,0,0,0
12820,2024-06-04 15:15:00,47035.4500,47600.7500,46887.1000,47206.2500,0,0,0
12821,2024-06-05 09:15:00,47486.6000,47502.0000,46473.6000,47004.4500,0,0,0
12822,2024-06-05 10:15:00,47006.8000,47865.9000,46446.8000,47863.2000,0,0,0
12823,2024-06-05 11:15:00,47861.4000,48000.6000,47384.4000,47673.3000,0,0,0
12824,2024-06-05 12:15:00,47672.9000,48285.5500,47671.6500,48139.0000,0,0,0
12825,2024-06-05 13:15:00,48136.5500,48799.9500,48067.0000,48659.9500,0,0,0
12826,2024-06-05 14:15:00,48667.2500,49362.9000,48515.4500,49065.2000,0,0,0
12827,2024-06-05 15:15:00,49063.1000,49100.0000,48801.3000,48847.1000,0,0,0
12828,2024-06-06 09:15:00,49426.4000,49477.5000,49063.7500,49319.0000,0,0,0
12829,2024-06-06 10:15:00,49317.9500,49672.7500,49310.5000,49600.6000,0,0,0
12830,2024-06-06 11:15:00,49601.4000,49612.6000,49160.8000,49231.1500,0,0,0
12831,2024-06-06 12:15:00,49232.7000,49366.2500,48906.7500,49040.9500,0,0,0
12832,2024-06-06 13:15:00,49040.9500,49380.0000,49024.3500,49199.0000,0,0,0
12833,2024-06-06 14:15:00,49197.9000,49335.4000,48948.3000,49326.4000,0,0,0
12834,2024-06-06 15:15:00,49326.8500,49367.1000,49194.6500,49330.9000,0,0,0
12835,2024-06-07 09:15:00,49316.9500,49506.2500,49080.4500,49409.9000,0,0,0
12836,2024-06-07 10:15:00,49408.2000,49677.4000,49228.0500,49659.1500,0,0,0
12837,2024-06-07 11:15:00,49658.3500,49932.1500,49564.0000,49832.0000,0,0,0
12838,2024-06-07 12:15:00,49833.9000,49943.2000,49730.9500,49857.9000,0,0,0
12839,2024-06-07 13:15:00,49857.6500,49897.4500,49665.2500,49814.0000,0,0,0
12840,2024-06-07 14:15:00,49817.3000,49909.2000,49711.2500,49777.7500,0,0,0
12841,2024-06-07 15:15:00,49776.5000,49849.0500,49752.3500,49806.6000,0,0,0

In [194]:
# bnf_1hr

In [195]:
def add_ma(df):
    df['MA'] = df['close'].rolling(20).mean()
    df['ABOVE MA'] = 0
    BULL_MASK = (
        df['close']>df['MA']
    )
    df.loc[BULL_MASK, "ABOVE MA"] = 1
    
    return df

bnf_1hr = add_ma(bnf_1hr)
# bnf_1hr

In [196]:
import pandas as pd
import matplotlib.pyplot as plt

# Sample data creation
# df = pd.read_csv('your_data.csv')  # Load your data here

# Calculate the 50-period moving average (MA)
df['MA'] = df['close'].rolling(window=20).mean()

# Calculate the ABOVE MA column
df['ABOVE MA'] = (df['close'] > df['MA']).astype(int)

# Find where the close crosses above the MA
df['CROSS'] = (df['close'] > df['MA']) & (df['close'].shift(1) <= df['MA'].shift(1))

# Initialize list to store lengths of periods where close remains above MA
above_ma_periods = []

# Store the timestamps and period lengths for the histogram
cross_timestamps = []
cross_index = None
for i in range(1, len(df)):
    if df.loc[i, 'CROSS']:
        cross_index = i
    elif cross_index is not None and df.loc[i, 'close'] < df.loc[i, 'MA']:
        period_length = i - cross_index
        above_ma_periods.append(period_length)
        cross_timestamps.append(df.index[cross_index])
        cross_index = None

# Calculate the average number of candles above MA after crossing
average_above_ma = sum(above_ma_periods) / len(above_ma_periods) if above_ma_periods else 0

print(f'Average number of candles above MA after crossing: {average_above_ma}')

Average number of candles above MA after crossing: 10.183459277917716

In [197]:
df

,datetime,open,high,low,close,volume,Bullish Pivot,Bearish Pivot,MA,ABOVE MA,CROSS
0,2017-01-02 09:15:00,18242.3000,18248.2000,18052.1500,18052.1500,0,0,0,NaN,0,False
1,2017-01-02 09:30:00,18051.2500,18052.3500,17995.4000,18049.8000,0,0,0,NaN,0,False
2,2017-01-02 09:45:00,18048.2500,18048.5500,18003.6000,18020.6000,0,0,0,NaN,0,False
3,2017-01-02 10:00:00,18019.6500,18040.9500,18007.9000,18017.6000,0,0,0,NaN,0,False
4,2017-01-02 10:15:00,18017.1000,18035.7500,18014.4500,18014.7000,0,0,0,NaN,0,False
...,...,...,...,...,...,...,...,...,...,...,...
45843,2024-06-07 14:15:00,49817.3000,49909.2000,49761.5000,49818.7000,0,0,0,49700.5250,1,False
45844,2024-06-07 14:30:00,49819.0000,49849.8500,49711.2500,49735.4500,0,0,0,49717.5725,1,False
45845,2024-06-07 14:45:00,49734.0500,49887.6000,49734.0500,49847.3500,0,0,0,49736.3650,1,False
45846,2024-06-07 15:00:00,49838.2500,49866.9000,49744.2000,49777.7500,0,0,0,49754.7575,1,False
45847,2024-06-07 15:15:00,49776.5000,49849.0500,49752.3500,49806.6000,0,0,0,49773.3650,1,False

In [198]:
df = bnf_1hr

df['MA'] = df['close'].rolling(window=20).mean()

# Calculate the ABOVE MA column
df['ABOVE MA'] = (df['close'] > df['MA']).astype(int)

# Find where the close crosses above the MA
df['CROSS'] = (df['close'] > df['MA']) & (df['close'].shift(1) <= df['MA'].shift(1))

# Initialize list to store lengths of periods where close remains above MA
above_ma_periods = []

# Store the timestamps and period lengths for the histogram
cross_timestamps = []
cross_index = None
cross_time = None
for i in range(1, len(df)):
    if df.loc[i, 'CROSS']:
        cross_index = i
        cross_time = df.loc[i, 'datetime']
    elif cross_index is not None and df.loc[i, 'close'] < df.loc[i, 'MA']:
        period_length = i - cross_index
        print(cross_time ,period_length)
        above_ma_periods.append(period_length)
        cross_timestamps.append(cross_time)
        cross_index = None
    elif cross_index is not None and i==len(df)-1:
        period_length = i - cross_index
        print(cross_time ,period_length)
        above_ma_periods.append(period_length)
        cross_timestamps.append(cross_time)
        cross_index = None

# Calculate the average number of candles above MA after crossing
average_above_ma = sum(above_ma_periods) / len(above_ma_periods) if above_ma_periods else 0

print(f'Average number of candles above MA after crossing: {average_above_ma}')

# Prepare the data for plotting
cross_data = pd.DataFrame({'Timestamp': cross_timestamps, 'Candles Above MA': above_ma_periods})

# Plot the histogram
# plt.figure(figsize=(12, 6))
# plt.bar(cross_data['Timestamp'], cross_data['Candles Above MA'], width=1)
# plt.xlabel('Timestamp')
# plt.ylabel('Number of Candles Above 50MA')
# plt.title('Number of Candles Above 50MA After Each Cross')
# plt.xticks(rotation=45)
# plt.tight_layout()
# plt.show()

2017-01-05 09:15:00 70
2017-01-19 11:15:00 2
2017-01-24 09:15:00 28
2017-02-01 10:15:00 1
2017-02-01 12:15:00 31
2017-02-10 09:15:00 5
2017-02-10 15:15:00 3
2017-02-13 13:15:00 5
2017-02-14 14:15:00 4
2017-02-16 11:15:00 40
2017-03-01 09:15:00 12
2017-03-06 09:15:00 3
2017-03-06 14:15:00 10
2017-03-08 13:15:00 14
2017-03-10 14:15:00 23
2017-03-24 09:15:00 40
2017-04-03 09:15:00 1
2017-04-03 11:15:00 19
2017-04-11 09:15:00 19
2017-04-18 09:15:00 5
2017-04-21 14:15:00 32
2017-04-28 12:15:00 12
2017-05-03 13:15:00 1
2017-05-04 09:15:00 21
2017-05-09 10:15:00 1
2017-05-09 12:15:00 2
2017-05-10 09:15:00 13
2017-05-15 09:15:00 3
2017-05-15 13:15:00 3
2017-05-16 10:15:00 13
2017-05-19 09:15:00 1
2017-05-19 15:15:00 1
2017-05-22 10:15:00 2
2017-05-25 09:15:00 20
2017-05-30 09:15:00 3
2017-05-30 13:15:00 12
2017-06-01 13:15:00 20
2017-06-06 13:15:00 1
2017-06-07 09:15:00 21
2017-06-13 10:15:00 3
2017-06-16 09:15:00 2
2017-06-16 12:15:00 21
2017-06-21 13:15:00 9
2017-06-29 09:15:00 3
2017-06-30 15:15:00 1
2017-07-03 10:15:00 8
2017-07-04 12:15:00 2
2017-07-05 09:15:00 34
2017-07-12 12:15:00 49
2017-07-21 14:15:00 33
2017-07-28 14:15:00 22
2017-08-07 09:15:00 7
2017-08-16 12:15:00 9
2017-08-17 15:15:00 1
2017-08-23 09:15:00 21
2017-08-30 09:15:00 7
2017-08-31 11:15:00 1
2017-08-31 13:15:00 11
2017-09-05 09:15:00 2
2017-09-05 13:15:00 1
2017-09-06 13:15:00 1
2017-09-06 15:15:00 7
2017-09-08 09:15:00 3
2017-09-08 13:15:00 31
2017-09-18 09:15:00 15
2017-09-28 14:15:00 21
2017-10-05 09:15:00 1
2017-10-06 09:15:00 25
2017-10-12 14:15:00 19
2017-10-24 09:15:00 1
2017-10-24 11:15:00 24
2017-10-30 09:15:00 42
2017-11-09 15:15:00 13
2017-11-16 09:15:00 26
2017-11-22 12:15:00 3
2017-11-24 09:15:00 7
2017-11-27 13:15:00 10
2017-11-29 10:15:00 3
2017-12-05 15:15:00 1
2017-12-07 10:15:00 1
2017-12-07 13:15:00 17
2017-12-14 14:15:00 28
2017-12-22 10:15:00 3
2017-12-22 14:15:00 2
2017-12-26 14:15:00 7
2017-12-29 14:15:00 7
2018-01-03 09:15:00 1
2018-01-04 10:15:00 27
2018-01-11 12:15:00 7
2018-01-12 13:15:00 62
2018-01-25 13:15:00 10
2018-01-31 14:15:00 7
2018-02-08 09:15:00 7
2018-02-12 14:15:00 2
2018-02-22 14:15:00 21
2018-03-06 09:15:00 1
2018-03-08 14:15:00 7
2018-03-09 15:15:00 15
2018-03-14 12:15:00 10
2018-03-16 10:15:00 1
2018-03-21 09:15:00 3
2018-03-22 09:15:00 2
2018-03-26 13:15:00 17
2018-04-02 14:15:00 13
2018-04-05 09:15:00 28
2018-04-11 13:15:00 1
2018-04-12 12:15:00 8
2018-04-13 14:15:00 3
2018-04-16 12:15:00 15
2018-04-23 11:15:00 1
2018-04-24 09:15:00 7
2018-04-26 14:15:00 24
2018-05-03 13:15:00 37
2018-05-11 09:15:00 20
2018-05-22 13:15:00 1
2018-05-23 10:15:00 4
2018-05-24 12:15:00 22
2018-05-31 10:15:00 13
2018-06-06 14:15:00 9
2018-06-08 14:15:00 1
2018-06-11 09:15:00 5
2018-06-12 09:15:00 14
2018-06-20 09:15:00 14
2018-06-22 12:15:00 11
2018-06-26 10:15:00 4
2018-06-29 12:15:00 2
2018-07-04 13:15:00 35
2018-07-12 09:15:00 11
2018-07-17 13:15:00 14
2018-07-23 11:15:00 1
2018-07-23 13:15:00 46
2018-08-03 10:15:00 39
2018-08-14 14:15:00 2
2018-08-16 10:15:00 2
2018-08-17 09:15:00 21
2018-08-27 09:15:00 19
2018-09-06 13:15:00 3
2018-09-07 10:15:00 6
2018-09-14 09:15:00 7
2018-09-25 15:15:00 10
2018-10-01 13:15:00 8
2018-10-08 14:15:00 1
2018-10-09 13:15:00 1
2018-10-10 09:15:00 7
2018-10-11 11:15:00 2
2018-10-12 09:15:00 26
2018-10-22 11:15:00 2
2018-10-24 09:15:00 1
2018-10-24 11:15:00 1
2018-10-24 14:15:00 1
2018-10-29 12:15:00 11
2018-10-31 11:15:00 30
2018-11-07 17:15:00 11
2018-11-13 13:15:00 31
2018-11-21 12:15:00 7
2018-11-26 12:15:00 39
2018-12-07 13:15:00 3
2018-12-11 15:15:00 29
2018-12-18 11:15:00 20
2018-12-26 13:15:00 24
2019-01-01 10:15:00 1
2019-01-01 14:15:00 6
2019-01-04 12:15:00 1
2019-01-04 14:15:00 28
2019-01-15 10:15:00 1
2019-01-15 14:15:00 12
2019-01-17 14:15:00 2
2019-01-18 10:15:00 1
2019-01-18 13:15:00 1
2019-01-21 09:15:00 7
2019-01-22 13:15:00 1
2019-01-23 11:15:00 3
2019-01-25 09:15:00 4
2019-01-30 12:15:00 18
2019-02-04 14:15:00 22
2019-02-08 13:15:00 1
2019-02-19 09:15:00 5
2019-02-20 09:15:00 4
2019-02-20 14:15:00 10
2019-02-25 09:15:00 7
2019-02-26 12:15:00 2
2019-02-27 09:15:00 2
2019-03-01 09:15:00 93
2019-03-22 12:15:00 1
2019-03-26 13:15:00 29
2019-04-02 15:15:00 5
2019-04-05 15:15:00 4
2019-04-09 13:15:00 7
2019-04-12 13:15:00 22
2019-04-24 14:15:00 7
2019-04-26 11:15:00 1
2019-04-26 13:15:00 3
2019-05-02 09:15:00 3
2019-05-02 13:15:00 1
2019-05-03 09:15:00 7
2019-05-10 10:15:00 1
2019-05-10 12:15:00 3
2019-05-13 09:15:00 2
2019-05-14 13:15:00 1
2019-05-15 09:15:00 3
2019-05-15 13:15:00 1
2019-05-16 14:15:00 26
2019-05-22 13:15:00 1
2019-05-22 15:15:00 6
2019-05-24 10:15:00 22
2019-05-30 12:15:00 6
2019-06-03 11:15:00 12
2019-06-10 15:15:00 8
2019-06-19 09:15:00 4
2019-06-19 15:15:00 20
2019-06-25 12:15:00 19
2019-06-28 11:15:00 3
2019-07-01 09:15:00 7
2019-07-02 12:15:00 21
2019-07-05 13:15:00 2
2019-07-11 09:15:00 7
2019-07-12 11:15:00 3
2019-07-16 11:15:00 14
2019-07-25 09:15:00 2
2019-07-25 15:15:00 10
2019-07-29 12:15:00 7
2019-08-06 12:15:00 9
2019-08-08 14:15:00 12
2019-08-16 11:15:00 12
2019-08-26 11:15:00 16
2019-09-04 12:15:00 3
2019-09-05 09:15:00 2
2019-09-06 09:15:00 28
2019-09-13 13:15:00 6
2019-09-20 10:15:00 20
2019-09-26 09:15:00 2
2019-09-26 12:15:00 4
2019-09-27 11:15:00 5
2019-10-09 11:15:00 8
2019-10-11 09:15:00 1
2019-10-14 10:15:00 4
2019-10-14 15:15:00 44
2019-10-24 11:15:00 1
2019-10-25 14:15:00 40
2019-11-06 11:15:00 28
2019-11-15 09:15:00 35
2019-11-25 11:15:00 27
2019-11-29 14:15:00 1
2019-12-04 09:15:00 2
2019-12-04 14:15:00 8
2019-12-06 09:15:00 1
2019-12-11 15:15:00 54
2019-12-23 14:15:00 2
2019-12-27 09:15:00 14
2020-01-02 11:15:00 6
2020-01-08 14:15:00 23
2020-01-16 13:15:00 1
2020-01-23 12:15:00 14
2020-01-29 10:15:00 3
2020-01-31 09:15:00 2
2020-01-31 12:15:00 6
2020-02-04 09:15:00 28
2020-02-11 09:15:00 14
2020-02-19 09:15:00 14
2020-03-03 15:15:00 1
2020-03-05 10:15:00 4
2020-03-13 12:15:00 4
2020-03-20 15:15:00 1
2020-03-25 12:15:00 18
2020-04-07 10:15:00 24
2020-04-13 14:15:00 6
2020-04-16 15:15:00 15
2020-04-23 09:15:00 7
2020-04-24 12:15:00 1
2020-04-27 09:15:00 28
2020-05-06 15:15:00 1
2020-05-08 09:15:00 4
2020-05-13 09:15:00 11
2020-05-20 14:15:00 7
2020-05-27 09:15:00 44
2020-06-05 13:15:00 14
2020-06-10 14:15:00 3
2020-06-12 14:15:00 1
2020-06-16 09:15:00 3
2020-06-16 14:15:00 41
2020-06-26 15:15:00 1
2020-06-29 14:15:00 1
2020-06-30 09:15:00 5
2020-07-01 09:15:00 18
2020-07-06 09:15:00 29
2020-07-16 14:15:00 37
2020-07-29 09:15:00 10
2020-08-04 11:15:00 14
2020-08-06 12:15:00 5
2020-08-07 11:15:00 31
2020-08-18 13:15:00 10
2020-08-21 09:15:00 45
2020-09-01 12:15:00 1
2020-09-02 14:15:00 2
2020-09-03 10:15:00 1
2020-09-11 14:15:00 6
2020-09-15 14:15:00 3
2020-09-16 12:15:00 7
2020-09-25 13:15:00 17
2020-09-30 10:15:00 1
2020-09-30 13:15:00 2
2020-10-01 09:15:00 49
2020-10-13 10:15:00 2
2020-10-14 14:15:00 6
2020-10-16 12:15:00 22
2020-10-21 14:15:00 7
2020-10-23 09:15:00 1
2020-10-27 11:15:00 8
2020-11-02 09:15:00 58
2020-11-13 14:15:00 21
2020-11-23 13:15:00 1
2020-11-24 09:15:00 11
2020-11-26 13:15:00 4
2020-11-27 11:15:00 14
2020-12-03 09:15:00 3
2020-12-04 09:15:00 30
2020-12-10 14:15:00 6
2020-12-11 14:15:00 9
2020-12-15 13:15:00 9
2020-12-17 09:15:00 7
2020-12-23 13:15:00 33
2020-12-31 12:15:00 2
2021-01-01 09:15:00 5
2021-01-04 09:15:00 1
2021-01-04 15:15:00 1
2021-01-05 10:15:00 28
2021-01-12 11:15:00 19
2021-01-19 11:15:00 17
2021-01-29 12:15:00 52
2021-02-12 10:15:00 24
2021-02-24 09:15:00 10
2021-03-02 09:15:00 1
2021-03-02 14:15:00 16
2021-03-09 09:15:00 18
2021-03-23 10:15:00 1
2021-03-23 12:15:00 4
2021-03-26 11:15:00 1
2021-03-26 13:15:00 11
2021-04-01 13:15:00 3
2021-04-07 10:15:00 11
2021-04-13 14:15:00 3
2021-04-15 11:15:00 12
2021-04-22 11:15:00 40
2021-05-04 10:15:00 2
2021-05-05 11:15:00 26
2021-05-11 11:15:00 1
2021-05-17 09:15:00 22
2021-05-21 09:15:00 18
2021-05-25 14:15:00 2
2021-05-26 10:15:00 4
2021-05-27 11:15:00 26
2021-06-02 14:15:00 11
2021-06-07 09:15:00 3
2021-06-07 13:15:00 1
2021-06-09 09:15:00 2
2021-06-10 14:15:00 4
2021-06-11 12:15:00 4
2021-06-14 14:15:00 12
2021-06-16 13:15:00 1
2021-06-18 15:15:00 1
2021-06-21 12:15:00 14
2021-06-23 13:15:00 1
2021-06-24 13:15:00 17
2021-07-05 09:15:00 23
2021-07-12 11:15:00 1
2021-07-13 09:15:00 23
2021-07-23 09:15:00 17
2021-07-29 14:15:00 2
2021-07-30 12:15:00 35
2021-08-09 09:15:00 11
2021-08-10 14:15:00 2
2021-08-12 14:15:00 15
2021-08-18 09:15:00 1
2021-08-24 10:15:00 19
2021-08-27 11:15:00 4
2021-08-30 09:15:00 32
2021-09-03 14:15:00 2
2021-09-08 09:15:00 3
2021-09-08 13:15:00 10
2021-09-14 09:15:00 3
2021-09-14 13:15:00 28
2021-09-23 09:15:00 23
2021-09-28 14:15:00 1
2021-09-30 11:15:00 1
2021-10-04 09:15:00 19
2021-10-07 09:15:00 9
2021-10-08 15:15:00 45
2021-10-20 12:15:00 1
2021-10-21 09:15:00 1
2021-10-21 12:15:00 1
2021-10-21 14:15:00 28
2021-11-01 14:15:00 12
2021-11-03 13:15:00 1
2021-11-15 09:15:00 2
2021-11-15 13:15:00 3
2021-11-24 09:15:00 7
2021-11-25 10:15:00 2
2021-11-30 09:15:00 1
2021-12-01 10:15:00 17
2021-12-07 09:15:00 21
2021-12-10 14:15:00 5
2021-12-22 09:15:00 14
2021-12-24 13:15:00 1
2021-12-27 13:15:00 15
2021-12-30 15:15:00 64
2022-01-13 10:15:00 2
2022-01-18 09:15:00 5
2022-01-25 13:15:00 4
2022-01-27 12:15:00 10
2022-01-31 09:15:00 10
2022-02-01 13:15:00 16
2022-02-04 09:15:00 2
2022-02-09 09:15:00 14
2022-02-11 12:15:00 1
2022-02-15 13:15:00 14
2022-02-21 10:15:00 4
2022-02-21 15:15:00 1
2022-02-23 10:15:00 4
2022-02-28 14:15:00 2
2022-03-09 11:15:00 30
2022-03-15 14:15:00 1
2022-03-16 09:15:00 17
2022-03-21 13:15:00 1
2022-03-22 12:15:00 10
2022-03-28 12:15:00 46
2022-04-08 13:15:00 8
2022-04-12 13:15:00 5
2022-04-13 12:15:00 1
2022-04-21 10:15:00 6
2022-04-26 09:15:00 7
2022-04-28 12:15:00 9
2022-05-10 11:15:00 4
2022-05-11 09:15:00 1
2022-05-11 11:15:00 1
2022-05-11 13:15:00 3
2022-05-16 13:15:00 1
2022-05-16 15:15:00 15
2022-05-20 09:15:00 19
2022-05-25 09:15:00 5
2022-05-26 09:15:00 26
2022-06-02 14:15:00 5
2022-06-08 10:15:00 2
2022-06-09 14:15:00 2
2022-06-15 12:15:00 2
2022-06-16 09:15:00 2
2022-06-21 09:15:00 7
2022-06-23 09:15:00 3
2022-06-23 14:15:00 16
2022-06-28 11:15:00 1
2022-06-30 13:15:00 1
2022-07-01 12:15:00 17
2022-07-06 09:15:00 33
2022-07-18 09:15:00 42
2022-07-27 11:15:00 34
2022-08-03 12:15:00 5
2022-08-05 09:15:00 57
2022-08-23 14:15:00 15
2022-08-26 09:15:00 1
2022-08-26 11:15:00 2
2022-08-30 10:15:00 33
2022-09-08 09:15:00 42
2022-09-20 09:15:00 9
2022-09-21 13:15:00 1
2022-09-30 10:15:00 11
2022-10-04 09:15:00 15
2022-10-07 14:15:00 2
2022-10-10 11:15:00 2
2022-10-10 14:15:00 2
2022-10-11 11:15:00 1
2022-10-11 13:15:00 1
2022-10-12 13:15:00 3
2022-10-14 09:15:00 28
2022-10-21 09:15:00 23
2022-10-31 09:15:00 16
2022-11-03 09:15:00 2
2022-11-03 12:15:00 2
2022-11-04 14:15:00 16
2022-11-11 09:15:00 36
2022-11-18 14:15:00 1
2022-11-22 09:15:00 28
2022-11-28 11:15:00 4
2022-11-29 09:15:00 5
2022-11-30 09:15:00 1
2022-11-30 14:15:00 9
2022-12-05 10:15:00 7
2022-12-06 12:15:00 1
2022-12-06 14:15:00 1
2022-12-07 09:15:00 1
2022-12-08 09:15:00 37
2022-12-19 15:15:00 1
2022-12-20 14:15:00 4
2022-12-26 11:15:00 19
2022-12-29 12:15:00 25
2023-01-09 11:15:00 2
2023-01-09 14:15:00 2
2023-01-12 15:15:00 1
2023-01-13 12:15:00 9
2023-01-17 09:15:00 3
2023-01-17 14:15:00 12
2023-01-19 13:15:00 1
2023-01-20 09:15:00 18
2023-01-24 14:15:00 1
2023-01-31 11:15:00 10
2023-02-02 15:15:00 18
2023-02-07 13:15:00 10
2023-02-09 13:15:00 10
2023-02-14 12:15:00 17
2023-02-27 10:15:00 10
2023-02-28 14:15:00 13
2023-03-03 09:15:00 25
2023-03-17 09:15:00 1
2023-03-17 13:15:00 5
2023-03-20 14:15:00 21
2023-03-28 12:15:00 1
2023-03-28 14:15:00 37
2023-04-10 11:15:00 1
2023-04-11 09:15:00 36
2023-04-20 09:15:00 1
2023-04-20 11:15:00 1
2023-04-20 14:15:00 4
2023-04-24 09:15:00 44
2023-05-03 12:15:00 12
2023-05-08 11:15:00 1
2023-05-08 13:15:00 7
2023-05-10 11:15:00 31
2023-05-18 09:15:00 4
2023-05-19 13:15:00 9
2023-05-23 09:15:00 6
2023-05-24 10:15:00 1
2023-05-26 11:15:00 19
2023-06-05 09:15:00 26
2023-06-13 09:15:00 2
2023-06-13 12:15:00 1
2023-06-13 14:15:00 2
2023-06-14 11:15:00 2
2023-06-16 14:15:00 3
2023-06-20 14:15:00 14
2023-06-27 09:15:00 39
2023-07-06 11:15:00 1
2023-07-06 13:15:00 3
2023-07-11 10:15:00 3
2023-07-13 09:15:00 4
2023-07-14 14:15:00 3
2023-07-17 12:15:00 34
2023-07-24 12:15:00 1
2023-07-26 11:15:00 1
2023-07-26 13:15:00 5
2023-07-31 14:15:00 6
2023-08-01 14:15:00 2
2023-08-04 11:15:00 1
2023-08-04 14:15:00 16
2023-08-09 14:15:00 3
2023-08-21 09:15:00 13
2023-08-23 09:15:00 14
2023-08-28 12:15:00 16
2023-09-01 12:15:00 19
2023-09-07 10:15:00 1
2023-09-07 13:15:00 24
2023-09-13 10:15:00 24
2023-09-25 12:15:00 1
2023-09-25 14:15:00 3
2023-09-27 15:15:00 2
2023-09-29 09:15:00 7
2023-10-05 10:15:00 13
2023-10-10 11:15:00 19
2023-10-13 13:15:00 1
2023-10-17 09:15:00 8
2023-10-27 13:15:00 3
2023-10-30 10:15:00 11
2023-11-02 09:15:00 2
2023-11-02 12:15:00 20
2023-11-07 13:15:00 17
2023-11-10 11:15:00 7
2023-11-13 11:15:00 17
2023-11-16 15:15:00 1
2023-11-21 11:15:00 1
2023-11-21 13:15:00 3
2023-11-23 09:15:00 1
2023-11-23 12:15:00 60
2023-12-07 10:15:00 3
2023-12-08 09:15:00 17
2023-12-14 09:15:00 19
2023-12-18 15:15:00 1
2023-12-19 11:15:00 3
2023-12-20 09:15:00 3
2023-12-21 14:15:00 6
2023-12-26 10:15:00 24
2024-01-01 10:15:00 2
2024-01-01 13:15:00 1
2024-01-04 09:15:00 11
2024-01-05 14:15:00 2
2024-01-11 12:15:00 1
2024-01-12 09:15:00 21
2024-01-20 10:15:00 7
2024-01-25 15:15:00 34
2024-02-07 14:15:00 3
2024-02-09 14:15:00 2
2024-02-13 09:15:00 2
2024-02-13 12:15:00 4
2024-02-14 10:15:00 41
2024-02-22 15:15:00 5
2024-02-28 09:15:00 1
2024-02-29 15:15:00 38
2024-03-20 12:15:00 1
2024-03-21 09:15:00 14
2024-03-27 09:15:00 70
2024-04-12 11:15:00 1
2024-04-19 13:15:00 35
2024-04-29 09:15:00 19
2024-05-13 13:15:00 13
2024-05-15 14:15:00 3
2024-05-16 11:15:00 1
2024-05-16 14:15:00 17
2024-05-23 09:15:00 26
2024-05-31 12:15:00 11
2024-06-05 14:15:00 15
Average number of candles above MA after crossing: 11.537337662337663

In [199]:
fig = make_subplots(
    rows=1,
    cols=1,
    shared_xaxes=True,
    vertical_spacing=0.2,
    horizontal_spacing=0.2,
)

fig.add_trace(
    go.Bar(
        x=cross_data["Timestamp"],
        y=cross_data["Candles Above MA"],
        marker_color='white',
        width=1,
    ),
    row=1,
    col=1,
)


# Updating layout
fig.update_layout(
    height=600,
    width=1600,
    title_text="Number of Candles Above 50MA After Each Cross",
    xaxis_title="Timestamp",
    yaxis_title="Number of Candles Above 50MA",
    plot_bgcolor='black',
    paper_bgcolor='white',
)
fig.update_xaxes(rangeslider_visible=True)
fig.update_yaxes(dtick=10)

app = Dash(__name__)
app.layout = html.Div([dcc.Graph(figure=fig)])

if __name__ == '__main__':
    app.run_server(debug=True)